# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output
test-results

# Next.js
.next
out
next-env.d.ts

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Supabase
.supabase

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Sentry
.sentryclirc
sentry.properties

# Claude
.claude/*.local.*
.claude/statusline
