# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/
*.log

# next.js
.next/
out/
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase
.supabase/

# husky
.husky/_

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn

# playwright
test-results/
playwright-report/
playwright/.cache/
.env.example

.vercel
.env*.local
